server {
    port 8080;
    host 127.0.0.1;

    client_max_body_size 100000000;

    default_server true;

    location /cgi {

        allow_methods GET POST;

        root /cgi-bin;

        autoindex on;

        allow_upload true;

    }

        location /cgi-list {

        allow_methods GET POST;

        root /cgi-bin;

        autoindex off;

    }

    location /complete_site {
        allow_methods GET POST;

        root /full_site;

		error_page 401 /401.html;
		error_page 404 /404.html;
		error_page 500 /500.html;

        autoindex on;
    }

    location /upload {
        allow_methods GET POST DELETE;

        root /upload;

        autoindex on;

        allow_upload true;

        upload_path /upload/file;
    }

    location /test {
        allow_methods GET POST DELETE;

        root /test_post_request_dir;

        autoindex off;
    }
}

server {
    port 8080;
    host 127.0.0.2;

    client_max_body_size 10000000;

    default_server false;

    location /cookie {

        allow_methods GET POST;

        root /preferences_cookie;

        autoindex on;
    }

    location /api {
        allow_methods GET POST;

        root /var/www/api;

        autoindex off;
    }
}